# Implement automatic language support
# ----------------------------------


# First we turn off the rewrite engine so we don't get recursion
RewriteEngine off

# Add index+language selection as index page
DirectoryIndex index

# Turn on the option for multiple selections
Options +MultiViews

# Lägg till språk
AddLanguage sv .sv
AddLanguage no .no
AddLanguage en .en
AddLanguage de .de
AddLanguage fi .fi
AddLanguage es .es
AddLanguage hu .hu
AddLanguage nb .nb

# Set language preference (Apachebug)
LanguagePriority sv no en de fi es hu nb

