# Skriv om adresser som använder gamla CSS-adressen
# -------------------------------------------------
#

RewriteEngine on

RewriteCond %{DOCUMENT_ROOT}	^/home/peter/public_html
RewriteRule ^.*$		/idoc/alternative/c64_sv/		[L,R=301]

RewriteCond %{DOCUMENT_ROOT}	^/var/www
RewriteRule ^.*$		/softwolves/idoc/alternative/c64_sv/	[L,R=301]
