# Access rules for iDOC=
# -----------------------

# ------------------------------------------------------------------------
# Implement automatic language support

AddType text/html .shtml
     
# Add index+language selection as index page
DirectoryIndex index

# Turn on the option for multiple selections
Options MultiViews ExecCGI FollowSymLinks Includes Indexes

# Add a language
AddLanguage sv .sv
AddLanguage no .no
AddLanguage en .en
AddLanguage de .de
AddLanguage fi .fi
AddLanguage es .es
AddLanguage hu .hu
AddLanguage nb .nb

# Set language priority (Apachebug)
LanguagePriority sv no en de fi es hu nb

# ------------------------------------------------------------------------
# Redirection for cheat addresses

RewriteEngine on

# TODO - Read is disabled
RewriteRule ^read/(.*) - [R=404,L]

# Handle calls to the virtual "unpack directory"
RewriteRule ^read/(.*)          /lookat.cgi?$1      [L]
RewriteRule ^download/(.*)      /docs/$1 [L]

# The index page was previously called "main"
RewriteRule ^main		/idoc/                   [L,R=301]

# ------------------------------------------------------------------------
# Death to broken browsers!

RewriteRule ^en$		/href1ang.html			[L]
RewriteRule ^sv$		/href1ang.html			[L]
RewriteRule ^de$		/href1ang.html			[L]
RewriteRule ^no$		/href1ang.html			[L]
RewriteRule ^fi$		/href1ang.html			[L]
RewriteRule ^hu$		/href1ang.html			[L]
RewriteRule ^es$		/href1ang.html			[L]
